* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.destination-section{
    background-image: url("destinationD.jpg");
    background-size: cover;
    height: 120vh;
    width: 100%;
}       