@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}

.destination-section {
    background-image: url(/destinationD.jpg);
    background-size: cover;
    height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.contentD {
    display: none;
}

.show-contentD {
    display: block;
}

.destination-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    /* position: fixed;
    top: 32vh;
    right:30vw; */
}

.navD-option {
    /* border-bottom: 2px solid white; */
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 0.91rem;
    font-family: "Barlow Condensed", sans-serif;

}

.navD-option:active {
    border-bottom: 2px solid white;


}

.imge-content {
    display: flex;
    flex-direction: column;
    gap: 13vh;
}

.imge-content h3 {
    font-size: 1.5rem;
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;

}

#destination-img {
    height: 52vh;
    margin-bottom: 30px;
}

.destination-main {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    justify-content: center;
    gap: 10vw;
    width: 100%;

}

.all-contentD h2 {
    font-size: 7rem;
    font-weight: 100;
    /* width: 300px; */

}

.all-contentD p {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
    height: 20vh;
    width: 350px;
}

.all-contentD {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.d1st p {
    font-family: "Rajdhani", sans-serif;

}

.d1st h3 {
    font-size: 2rem;
    font-weight: 100;

}

.d1st {
    display: flex;
    flex-direction: column;
}

.destination-time {
    border-top: 1px solid white;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 90px;
    height: 95px;
    margin-top: 50px;
    width: 370px;
}

.nav-content {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    gap: 25px;
}

@media screen and (max-width: 1170px) {
    .destination-main {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 1px;
    }

    .destination-section {
        background-image: url(/destinationT.jpg);
        background-size: cover;
        height: 160vh;
        width: 100%;
    }

    #destination-img {
        height: 45vh;
        margin-bottom: 30px;
    }

    .nav-content {
        margin-top: 25px;
        align-items: center;
    }
}

@media screen and (max-width: 550px) {
    .destination-main {
        justify-content: center;
        align-items: center;
        gap: 1px;
    }

    .destination-section {
        background-image: url(/destinationM.jpg);
        background-size: cover;
        height: 180vh;
        width: 100%;
    }

    #destination-img {
        height: 45vh;
        /* margin-bottom: 30px; */
    }

    .all-contentD h2 {
        font-size: 5rem;
        font-weight: 100;

    }

    .destination-time {

        gap: 50px;

    }

}